## CubedPandas - Sample Notebook
This notebook demonstrates the use of CubedPandas to analyze a sample dataset.

In [1]:
import pandas as pd
from cubedpandas import cubed

# Load the sample dataset
cdf = cubed(pd.read_csv('web_app/data.csv'))
cdf

'Cube(1000 records, 9 dimensions, 8 measures)'

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [2]:
cdf.Quantity_ >= 10

1190

In [3]:
cdf.Quantity.City.Yangon.Payment.Ewallet

707

In [4]:
cdf.Customer_type.Normal.Member[cdf.Unit_price_ > 90]

12165.339999999998

In [5]:
cdf.Customer_type["Normal", "Member"]

55672.130000000005

In [6]:
cdf.slice((cdf.Product_line, cdf.Gender, cdf.City))

                                         Quantity  Rating      Tax 5%  \
Product line           Gender City
                       (all)                 5510  6972.7  15379.3690
                       Female (all)          2869  3489.2   7994.4250
                       Male   (all)          2641  3483.5   7384.9440
Electronic accessories (all)                  971  1177.2   2587.5015
                       Female Mandalay        156   198.9    388.8815
                              Naypyitaw       164   194.6    427.1055
                              Yangon          168   176.6    474.5855
                       Male   Mandalay        160   192.5    423.0920
                              Naypyitaw       169   176.5    476.1790
                              Yangon          154   238.1    397.6580
Fashion accessories    (all)                  902  1251.2   2585.9950
                       Female Mandalay        177   220.5    432.4520
                              Naypyitaw       192   266.4    548.5565
                              Yangon          161   196.7    468.3915
                       Male   Mandalay        120   196.3    349.1345
                              Naypyitaw       150   217.2    478.1135
                              Yangon          102   154.1    309.3470
Food and beverages     (all)                  952  1237.7   2673.5640
                       Female Mandalay        169   212.4    500.4760
                              Naypyitaw       231   274.9    745.7695
                              Yangon          114   161.0    333.3220
                       Male   Mandalay        101   137.3    224.0425
                              Naypyitaw       138   192.4    385.9855
                              Yangon          199   259.7    483.9685
Health and beauty      (all)                  854  1064.5   2342.5590
                       Female Mandalay        112   145.8    304.7785
                              Naypyitaw       120   164.6    306.9400
                              Yangon          111   147.0    272.1380
                       Male   Mandalay        208   230.5    646.6815
                              Naypyitaw       157   199.3    484.2660
                              Yangon          146   177.3    327.7550
Home and lifestyle     (all)                  911  1094.0   2564.8530
                       Female Mandalay        147   145.3    455.1015
                              Naypyitaw       152   176.8    373.4730
                              Yangon          199   212.2    601.7530
                       Male   Mandalay        148   180.5    380.5730
                              Naypyitaw        93   140.9    288.2200
                              Yangon          172   238.3    465.7325
Sports and travel      (all)                  920  1148.1   2624.8965
                       Female Mandalay        150   191.1    438.7055
                              Naypyitaw       190   196.8    535.5585
                              Yangon          156   207.6    386.4370
                       Male   Mandalay        172   212.5    513.1135
                              Naypyitaw        75   119.5    215.0095
                              Yangon          177   220.6    536.0725

                                               Total  Unit price       cogs  \
Product line           Gender City
                       (all)             322966.7490    55672.13  307587.38
                       Female (all)      167882.9250    27687.24  159888.50
                       Male   (all)      155083.8240    27984.89  147698.88
Electronic accessories (all)              54337.5315     9103.77   51750.03
                       Female Mandalay     8166.5115     1334.98    7777.63
                              Naypyitaw    8969.2155     1512.88    8542.11
                              Yangon       9966.2955     1524.47    9491.71
                       Male   Mandalay     8884.9320     1407.00    8461.84
                              Naypyitaw    9999.7590     1556.64    9523.58
                              Yangon       8350.8180     1767.80    7953.16
Fashion accessories    (all)              54305.8950    10173.35   51719.90
                       Female Mandalay     9081.4920     1654.48    8649.04
                              Naypyitaw   11519.6865     2002.12   10971.13
                              Yangon       9836.2215     1673.99    9367.83
                       Male   Mandalay     7331.8245     1745.84    6982.69
                              Naypyitaw   10040.3835     1880.72    9562.27
                              Yangon       6496.2870     1216.20    6186.94
Food and beverages     (all)              56144.8440     9745.54   53471.28
                       Female Mandalay    10509.9960     1760.05   10009.52
                              Naypyitaw   15661.1595     2248.61   14915.39
                              Yangon       6999.7620     1399.47    6666.44
                       Male   Mandalay     4704.8925     1016.95    4480.85
                              Naypyitaw    8105.6955     1531.41    7719.71
                              Yangon      10163.3385     1789.05    9679.37
Health and beauty      (all)              49193.7390     8337.88   46851.18
                       Female Mandalay     6400.3485     1004.12    6095.57
                              Naypyitaw    6445.7400     1191.97    6138.80
                              Yangon       5714.8980     1073.62    5442.76
                       Male   Mandalay    13580.3115     2079.72   12933.63
                              Naypyitaw   10169.5860     1718.54    9685.32
                              Yangon       6882.8550     1269.91    6555.10
Home and lifestyle     (all)              53861.9130     8850.71   51297.06
                       Female Mandalay     9557.1315     1333.92    9102.03
                              Naypyitaw    7842.9330     1335.60    7469.46
                              Yangon      12636.8130     1852.64   12035.06
                       Male   Mandalay     7992.0330     1441.78    7611.46
                              Naypyitaw    6052.6200     1109.44    5764.40
                              Yangon       9780.3825     1777.33    9314.65
Sports and travel      (all)              55122.8265     9460.88   52497.93
                       Female Mandalay     9212.8155     1687.69    8774.11
                              Naypyitaw   11246.7285     1590.95   10711.17
                              Yangon       8115.1770     1505.68    7728.74
                       Male   Mandalay    10775.3835     2012.35   10262.27
                              Naypyitaw    4515.1995      888.88    4300.19
                              Yangon      11257.5225     1775.33   10721.45

                                         gross income  gross margin percentage
Product line           Gender City
                       (all)               15379.3690              4761.904762
                       Female (all)         7994.4250              2385.714286
                       Male   (all)         7384.9440              2376.190476
Electronic accessories (all)                2587.5015               809.523810
                       Female Mandalay       388.8815               133.333333
                              Naypyitaw      427.1055               133.333333
                              Yangon         474.5855               133.333333
                       Male   Mandalay       423.0920               128.571429
                              Naypyitaw      476.1790               128.571429
                              Yangon         397.6580               152.380952
Fashion accessories    (all)                2585.9950               847.619048
                       Female Mandalay       432.4520               157.142857
                              Naypyitaw      548.5565               166.666667
                              Yangon         468.3915               133.333333
                       Male   Mandalay       349.1345               138.095238
                              Naypyitaw      478.1135               142.857143
                              Yangon         309.3470               109.523810
Food and beverages     (all)                2673.5640               828.571429
                       Female Mandalay       500.4760               138.095238
                              Naypyitaw      745.7695               180.952381
                              Yangon         333.3220               109.523810
                       Male   Mandalay       224.0425               100.000000
                              Naypyitaw      385.9855               133.333333
                              Yangon         483.9685               166.666667
Health and beauty      (all)                2342.5590               723.809524
                       Female Mandalay       304.7785                95.238095
                              Naypyitaw      306.9400               109.523810
                              Yangon         272.1380               100.000000
                       Male   Mandalay       646.6815               157.142857
                              Naypyitaw      484.2660               138.095238
                              Yangon         327.7550               123.809524
Home and lifestyle     (all)                2564.8530               761.904762
                       Female Mandalay       455.1015               104.761905
                              Naypyitaw      373.4730               119.047619
                              Yangon         601.7530               152.380952
                       Male   Mandalay       380.5730               133.333333
                              Naypyitaw      288.2200                95.238095
                              Yangon         465.7325               157.142857
Sports and travel      (all)                2624.8965               790.476190
                       Female Mandalay       438.7055               142.857143
                              Naypyitaw      535.5585               138.095238
                              Yangon         386.4370               138.095238
                       Male   Mandalay       513.1135               152.380952
                              Naypyitaw      215.0095                76.190476
                              Yangon         536.0725               142.857143